.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

h1,
h2 {
  color: #333;
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.stats p {
  font-size: 18px;
  font-weight: bold;
}

.word-lists {
  display: flex;
  justify-content: space-between;
}

.top-words {
  text-align: left;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
  width: 48%;
}

.top-words ul {
  list-style-type: none;
  padding: 0;
}

.top-words li {
  margin-bottom: 5px;
}